@import "../../../app.component";

.main_page_container {
  width: $app_width;
  height: $app_height;
  margin: $el_horizontal_centering;
  padding: $app_padding;
  background-color: $app_bc_color;

  .header {
    @extend %flex_space_between;
    margin: $header_margin_bottom;

    .header_button, .header_button_tab {
      margin: $button_margin_right;

      &:last-child {
        margin: 0;
      }
    }
  }

  .forms_and_preview_container {
    @extend %flex_space_between;

    .forms_container {
      @extend %flex_direction_column;
      width: $form_width;

      & .item_form {
        margin: 0 0 1rem 0;
      }
    }

    .preview_container {
      flex: 1;
      margin: $preview_margin_left;

      .preview_page {
        height: 100%;
        background-color: #0074D9;

        .preview_card {
          height: 415px;
        }
      }
    }
  }
}

