<div class="main_page_container">
  <nav class="header">
    <span class="header_button_container">
      <a class="header_button main_page_button" mat-raised-button href="/" target="_self">Main</a>
      <button id="firstButton" class="header_button header_button_tab" mat-flat-button color="primary" (click)="ShowForms(ShowFormsIndex.isNameAndOptionForms)">Tab 1</button>
      <button id="secondButton" class="header_button header_button_tab" mat-flat-button color="primary" (click)="ShowForms(ShowFormsIndex.isZipCodeForm)">Tab 2</button>
    </span>
    <button mat-flat-button color="accent" (click)="SaveData()">Save</button>
  </nav>
  <div class="forms_and_preview_container">
    <div class="forms_container">
      <app-name-and-country-form class="item_form" [hidden]="VisibleForms !== ShowFormsIndex.isNameAndOptionForms"></app-name-and-country-form>
      <app-options-and-email-form class="item_form" [hidden]="VisibleForms !== ShowFormsIndex.isNameAndOptionForms"></app-options-and-email-form>
      <app-zip-code-form class="item_form" [hidden]="VisibleForms !== ShowFormsIndex.isZipCodeForm"></app-zip-code-form>
    </div>
    <div class="preview_container">
      <app-preview-page class="preview_page">
        <mat-card class="preview_card">
          <p>Name: {{UserName}}</p>
          <p>Surname: {{UserSurname}}</p>
          <p>Country: {{UserCountry}}</p>
          <p>Option: {{UserOption}}</p>
          <p>Email: {{UserEmail}}</p>
          <p>Zip Code: {{UserZipCode}}</p>
        </mat-card>
      </app-preview-page>
    </div>
  </div>
</div>
