@import "../../app.component";

.names_and_country_container {
  margin-bottom: $form-margin-bottom;

  .mat-card {
    background-color: $card-background-color;

    .form_input {
      width: $control-width;
    }
  }
}
