@import "../../../app.component";

.greeting_page_container {
  width: $app_width;
  height: $app_height;
  margin: $el_horizontal_centering;
  padding: $app_padding;
  background-color: $app_bc_color;
}
